var getTime = function(time) {
  return time.split('T')[1].split(':')[0] + ":" + time.split('T')[1].split(':')[1];
}

var getTimeWithDate = function (time) {
  return time.split('T')[0] + ' ' + time.split('T')[1].split(':')[0] + ":" + time.split('T')[1].split(':')[1];
}

module.exports = {
  getTime: getTime,
  getTimeWithDate: getTimeWithDate
}